<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- s<link rel="stylesheet" href="styles.css"> -->
  <title>Contact Us - Aadhar Verification</title>
</head>
<body>

  <header class="header">
    <img class="satyamev-logo" src="assets\lio.png" alt="Satyamev Jayate Logo">
    <a class="logo-text">Unique Identification Authority of India</a>
    <img class="satyamev-log" src="assets\aadhar.png" alt="Satyamev Jayate Logo">
  </header>

  <div class="container mt-5">
    <h2>Contact Us</h2>
    <p>If you have any questions or concerns, please feel free to reach out to us:</p>
    <address>
      Email: <a href="mailto:info@example.com">amrutha@example.com</a><br>
      Phone: +91 9110759278
    </address>
  </div>

  <footer class="footer mt-5">
    <p>&copy; 2023 Your Company. All rights reserved.</p>
    <div>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Service</a>
      <a href="#">Contact Us</a>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
